@mixin clearfix() {
    &::after {
        content: "";
        
        display: table;
        clear: both;
    }
}

@mixin center() {
    margin: 0 auto;
    min-width: 320px;
    
    @media #{$tablet-widths} {
        width: 648px;
    }
    
    @media #{$desktop-width} {
        width: 1060px;
    }
}


@mixin font($body-font-size: 14px, $body-line-height: 21px) {
    font-size: $body-font-size;
    line-height: $body-line-height;
}


@mixin button($padding: 17px 0px, $white-text: #fff, $bg-blue: #81b3d2, $no-decoration: none) {
    padding: $padding;
    color: $white-text;
    background-color: $bg-blue;
    text-decoration: $no-decoration;
    
}

@mixin horizontal-padding($left-padding: 20px, $right-padding: 20px) {
    padding-left: $left-padding;
    padding-right: $right-padding;
}