body {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

h1, h2, h3 {
    display: block;
    margin: 0;
    padding: 0;
}

b {
    display: block;
}

fieldset {
    border: none;
    padding: 0;
}