body {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
    min-width: 320px;
}

h1, h2, h3 {
    display: block;
    margin: 0;
    padding: 0;
}

b {
    display: block;
}

fieldset {
    border: none;
    padding: 0;
}

//img {
//    max-width: 100%;
//    height: auto;
//}