$align-center: center;
$block-width: 100%;

.container-intro {
	
	width: $block-width;
	padding: 0 1px;
	margin: 0 auto;
	box-sizing: border-box;
}

.container-intro__title {
	margin-top: 0px;
	margin-bottom: 35px;
	padding: 0 4%;
text-align: $align-center;
	@include font(18px, 26px);
}

.container-intro__text {
	margin-top: 0px;
    margin-bottom: 0px;

	@include font(14px, 24px);
    @include padding(0 15px);

}