.interest-block {
    margin-top: 30px;
    margin-bottom: 50px;
    width: $block-width;
}

.interest-block__title {
    display: block;
    margin-bottom: 26px;
    @include font(21px, 26px);
}

.interest-block__text {
    display: block;
    margin-bottom: 40px;
    
    @include font(14px, 24px);
    @include padding();
}

.interest-block__hotel-search {
    @include font(21px,26px);
    
    @include button();
}