.interest-block {
    margin-top: 30px;
    margin-bottom: 47px;
    width: $block-width;
}

.interest-block__title {
    display: block;
    margin-bottom: 20px;
    @include font(21px, 26px);
}

.interest-block__text {
    display: block;
    margin-bottom: 33px;
    @include font(14px, 24px);
    padding: 0 20px;
}

.interest-block__hotel-search {
    display: block;
    @include font(21px,26px);
    @include button();
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

@media ($tablet-widths) {
    
    .interest-block {
        margin-top: 57px;
        margin-bottom: 58px;
        box-sizing: border-box;
    }
    
    .interest-block__title {
        margin-bottom: 30px;
        @include font(30px, 26px);
    }
    
    .interest-block__text {
        margin-bottom: 41px;
        padding: 0 185px;
        text-align: center;
    }
    
    .interest-block__hotel-search {
        @include font(21px, 26px);
        padding-top: 18px;
        padding-bottom: 18px;
        margin-left: 155px;
        margin-right: 155px;
    }
    
}

@media ($desktop-width) {
    
    .interest-block {
        margin-bottom: 63px;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .interest-block__text {
        margin-bottom: 46px;
    }
    
    .interest-block__hotel-search {
        @include font(21px, 26px);
        padding-top: 18px;
        padding-bottom: 18px;
        margin-left: 170px;
        margin-right: 170px;
    }
    
}