.intro-image {
  text-align: center;
//    height: auto;
    margin-bottom: 42px;
}

.intro-image__sedona-welcome {
    padding-top: 90px;
    padding-bottom: 80px;
    background: #475958 url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 10%;
    width: 100%;
}

.intro-image__sedona-word-image {
    padding: 52px 47px 67px;
    background: #475958 url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 100%;
    width: 100%;
    box-sizing: border-box;
}