.main-nav__list {
    padding: 0;
    margin: 0;
}

.main-nav__item {
	background-color: $bg-blue;
	text-align: center;
	color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px;
	border-bottom: 1px solid $nav-border-color;
    @include font(18px, 40px);
    
    &:last-child {
        border-bottom: 0;
    }
}

.main-nav__item a {
	text-decoration: none;
	color: #ffffff;
}

.main-nav__toggle-menu {
	position: relative;
    top: -205px;
    right: -130px;
}

@media ($tablet-widths) {
    
    .main-nav {
        width: 100%;
        min-height: 56px;
        margin: 0;
        background-color: $bg-white;
        @include center();
    }
    
    .main-nav__list {
        width: 100%;
        min-height: 56px;
        padding-left: 0px;
        font-size: 0px;
        background-color: $bg-white;
    }
    
    .main-nav__item {
        display: inline-block;
        width: 20%;
        text-align: center;
        vertical-align: center;
        border-bottom: none;
        background-color: $bg-white;
    }
    
    .main-nav__item:nth-child(2) {
        margin-right: 20%;
    }
    
    .main-nav__item a {
	    text-decoration: none;
	    color: #000;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
    }
    
    .main-nav__toggle-menu {
        display: none;
    }
    
}
