.page-header {
	min-height: 55px;
	max-height: 223px;
	width: 100%;
	margin-bottom: 45px;
}

.page-header__logo {
	position: relative;
	height: 83px;
	top: -21px;
//	left: px;
	transform: translateX(-50%);
    z-index: 1;
}


@media ($tablet-widths) {
    
    .page-header {
        min-height: 56px;
        margin-bottom: 0;
    }
    
    .page-header__logo {
        position: absolute;
        height: 83px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
    }
}

@media ($desktop-width) {
    
    .page-header {
        min-height: 56px;
        margin-bottom: 0;
    }
    
    .page-header__logo {
        position: absolute;
        height: 96px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
    }
}