.pop-up-failure {
    width: $mobile-width;
    text-align: $align-center;
    padding: 43px 20px 35px;
    box-sizing: border-box;
    background-color: $bg-white;
    box-shadow: 0px 1px 20px 1px rgba(50, 50, 50, 0.38);
}

.pop-up-failure__title {
    @include font(18px, 26px);
}

.pop-up-failure__text {
    @include font(14px, 24px);
    
    @include horizontal-padding();
}

.pop-up-failure__btn {
    @include horizontal-padding(90px, 90px);
}