.pop-up-failure {
    display: none;
    width: $mobile-width;
    text-align: center;
    padding: 43px 20px 35px;
    box-sizing: border-box;
    background-color: $bg-white;
    box-shadow: 0px 1px 20px 1px rgba(50, 50, 50, 0.38);
    position: absolute;
    margin: 0 auto;
    font-family: $font;
    bottom: 1000px;
}

.pop-up-failure__title {
    @include font(18px, 26px);
}

.pop-up-failure__text {
    @include font(14px, 24px);
    
    padding-left: 20px;
    padding-right: 20px;
}

.pop-up-failure__btn {
    padding-left: 90px;
    padding-right: 90px;
}

@media ($tablet-widths) {
    
    .pop-up-failure {
        display: none;
        z-index: 3;
        left: 215px;
        bottom: 620px;
    }
    
}

@media ($desktop-width) {
    
    .pop-up-failure {
        left: 440px;
    }
    
}