.reason {
    box-sizing: border-box;
    
    &--blue {
        color: #fff;
        background-color: $bg-blue;
        padding-top: 41px;
        padding-bottom: 25px;
    }
    
    &--grey {
        padding-top: 29px;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        
        &::after {
            content: '';
	        width: 280px;
	        display: block;
            padding-top: 0px;
            padding-bottom: 0px;
	        border-top: 1px solid #d6d6d6;
	        z-index: 10;
        }
        
        &:last-child::after {
            display: none;
        }
        
        
    }
    
    &--grey p {
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

.reason h2 {
    margin: 0px;
}

.reason__name {
    padding: 0 30px;
    @include font(18px, 26px);
    font-weight: 700;
}

.reason__number{
    display: block;
    margin-top: 9px;
    font-weight: 400;
}

.reason__text {
    @include font();
    padding: 0 20px;
    font-weight: 400;
}

.reason__image {
    height: 260px;
    overflow: hidden;
    margin: 0px;
}

.reason__image img {
    width: 520px;
    height: 261px;
    transform: translate(-100px, 0px);
}


@media ($tablet-widths) {
    
    .reason {
        box-sizing: border-box;
        
        &--blue {
            color: #fff;
            background-color: $bg-blue;
            padding-top: 47px;
            padding-bottom: 32px;
            
            float: left;
            width: 256 / 768 * 100%;
            height: 256px;
            padding-left: 33px;
            padding-right: 33px;
        }
        
        &--blue h2 {
            
            font-weight: 400;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        &--blue p {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        &--bridge {
            float: right;
        }
        
        &--grey {
            float: left;
            width: (100% / 3);
            height: auto;
            text-align: center;
            padding: 47px 5% 18px 5%;
            box-sizing: border-box;
            border: none;
            margin: 0;
            
            &::after {
                display: none;
            }
        }
        
        &--grey p {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    
    .reason__name {
        @include font(21px, 26px);
    }
    
    .reason__text {
        margin-top: 20px;
        font-weight: 400;
    }
    
    .reason__image {
        float: right;
        width: 512 / 768 * 100%;
        height: 256px;
        overflow: hidden;
        
        &--bridge {
            float: left;
        }
    }
    
    .reason__image img {
        transform: translate(-4px, 0);
    }
    
}


@media ($desktop-width) {
    
    .reason {
        
        &--blue {
            padding-top: 55px;
            padding-bottom: 25px;
            padding-left: 60px;
            padding-right: 60px;
        }
        
        &--blue h2 {
            padding: 0 65px;
        }
        
        &--blue p {
            padding-left: 30px;
            padding-right: 30px;
        }
        
        &--grey p {
            padding-left: 10px;
            padding-right: 10px;
        }
        
    }
    
    .reason__name {
        padding: 0 80px;
    }
    
    .reason__text {
        margin-top: 19px;
    }
    
    .reason__image {
        width: auto;
    }
    
    .reason__image img {
        width: 800px;
        height: auto;
        transform: translate(0, -75px);
    }
    
}
