.reason-wrapper {
    width: $block-width;
    
    &--grey {
        background-color: $bg-grey;
        padding-bottom: 2px;
    }
}

@media ($tablet-widths) {
    
    .reason-wrapper {
        width: $block-width;
//        margin-top: 45px;
        @include clearfix();
        
        &--grey {
            margin: 0;
            @include clearfix();
        }
    }
    
}

@media ($desktop-width) {
    
    .reason-wrapper {
        margin-top: 0;
        width: $block-width;
        
        &--grey {
            padding-bottom: 23px;
        }
    }
    
}



