.video-intro {
    box-sizing: border-box;
}

.video-intro__title {
    @include font(18px, 26px);
    margin-bottom: 33px;
    
    padding: 0 20px;
}

.video-intro__text {
    margin: 0;
    
    padding: 0 20px;
    @include font(14px, 24px);
}

@media ($tablet-widths) {
    
    .video-intro__title {
        @include font(30px, 26px);
        
        margin-bottom: 28px;
        
    }
    
    .video-intro__text {
        padding: 0 170px;
    }
}


@media ($desktop-width) {
    
    .video-intro__title {
        @include font(30px, 26px);
        
        margin-bottom: 30px;
        
    }
    
    .video-intro__text {
        padding: 0 390px;
    }
}
