.video {
    border-top: $grey-border;
    padding: 37px 0px;
    box-sizing: border-box;
}

.video__preview {
    margin-top: 35px;
    width: 320px;
    padding: 0;
    background-image: url(../img/video-mobile@1x.jpg);
    box-sizing: border-box;
    display: block;
    height: 201px;
    position: relative;
}